$primary-color-learn: #17BFCC;
$secondary-color-learn: #F46F91;

$primary-color-play: #614A9E;
$secondary-color-play: #FFC200;

$light-text: #fff;
$dark-text: rgb(15, 22, 34);

$play-box-shadow-color: 0px 0px 20px 2px rgba(97, 74, 158, 0.6);
$wrong-answer: #ccc;

$desktop-large: 1439px;
$desktop-medium: 1279px;
$desktop-small: 1139px;
$tablet-size: 991px;
$mobile-large: 767px;
$mobile-medium: 549px;